//Main
.photographer_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $pxStandard * 70;
    margin-top: $pxStandard * 50;
    margin-bottom: $pxStandard * 50;
        article{
            @include DF_JCC_AIC;
            flex-direction: $column;
            justify-self: $center;
                a{
                    text-decoration: $none;
                    text-align: $center;
                        h2{
                            color: $secondary_color;
                            font-size: $pxStandard * 36;
                            margin: $uniteNul;
                            font-weight: normal;
                        };
                        & img{
                            height: $pxStandard * 200;
                            width: $pxStandard * 200;
                            border-radius: $remStandard * 7;
                            object-fit: $cover;
                        };
                };
                .ville-pays{
                    @include DF_AIC;
                        & h3{
                            color: $primary_color;
                            margin: $uniteNul;
                            padding-right: $remStandard * .5;
                        };
                };
                p{
                    margin: $remStandard * .2;
                };
                .prix-photographer{
                    color: $price_color;
                };
        };
};
