//Main photographer
#liste-media{
    @include DF_JCSA;
    width: $pourcentStandard * 94;
    margin-right: $auto;
    margin-left: $auto;
    flex-wrap: wrap;
    margin-bottom: $remStandard * 5;
        .media{
            width: $pourcentStandard * 25;
            height: $vhStandard * 40;
            margin: $remStandard * 2;
                .description-photos{
                    @include DF_JCSB_AIC;
                        p{
                            color: $primary_color;
                            margin: $uniteNul;
                        };
                        .div-jaime{
                            @include DF_AIC;
                                p{
                                    color: $primary_color;
                                    padding-right: $remStandard * .5;
                                    margin: $uniteNul;
                                };
                                .likes-img{
                                    width: $pourcentStandard * 50;
                                    height: $vhStandard * 2;
                                    filter: invert(17%) sepia(22%) saturate(6583%) hue-rotate(344deg) brightness(101%) contrast(95%);
                                        &:hover{
                                            filter: invert(67%) sepia(10%) saturate(1961%) hue-rotate(322deg) brightness(91%) contrast(88%);
                                        };
                                };
                        };
                };
                & img{
                    width: $pourcentStandard * 100;
                    height: $vhStandard * 40;
                    object-fit: $cover;
                    cursor: $pointer;
                };
                & video{
                    width: $pourcentStandard * 100;
                    height: $vhStandard * 40;
                    object-fit: $cover;
                };
        };
};