#bgc-carousel{
    display: $none;
    width: $pourcentStandard * 100;
    height: $vhStandard * 261;
    background-color: rgba(0, 0, 0, 0.3);
    position: $positionA;
    top: $pourcentNul;
    z-index: $uniteStandard * 2;
        #carousel-container{
            width: $pourcentStandard * 67;
            height: $vhStandard * 80;
            top: $pourcentStandard * 10;
            position: $positionF;
            left: $pourcentStandard * 17;
            background-color: $light_color;
            .modalCarousel{
                box-shadow: 5px 0px 4px gray;
                position: $positionA;
                left: $pourcentStandard * 8.5;
                top: $pourcentStandard * 8;
                width: $remStandard * 50;
                height: $vhStandard * 65;
                    p{
                        margin: $uniteNul;
                        bottom: $remStandard;
                        color: $primary_color;
                    };
                    .divCarousel-multimedias img, .divCarousel-multimedias video{
                        width: $pourcentStandard * 100;
                        height: $vhStandard * 65;
                        object-fit: $cover;
                    };
            }
            .bouton{
                position: $positionA;
                cursor: $pointer;
            };
            #g{
                transform: rotate(180deg);
                width: 4%;
                left: 2%;
                top: 50%;
                filter: $bgc_button_carousel;
            };
            #d{
                width: 4%;
                right: 2%;
                top: 50%;
                filter: $bgc_button_carousel;
            };
            #carousel-close{
                cursor: $pointer;
                height: $pourcentStandard * 3;
                width: $pourcentStandard * 3;
                position: $positionA;
                left: $pourcentStandard * 93;
                top: $pourcentStandard * 8;
                filter: $bgc_button_carousel;
            };
    };
};