#bgc-carousel{
    display: none;
    width: 100%;
    height: 260vh;
    background-color: white;
    position: absolute;
    top: 0%;
    z-index: 2;
}
#carousel{
    // border: 2px solid greenyellow;
    width: 70%;
    height: 80vh;
    display: none;
    top: 10%;
    position: fixed;
    left: 15%;
        &-container{
            // border: 2px solid red;
            box-shadow: 5px 0px 4px gray;
            position: absolute;
            left: 8.5%;
            top: 8%;
            width: 50rem;
            height: 65vh;
            overflow: hidden;
                & .carousel-img{
                    width: 50rem;
                    height: 65vh;
                    object-fit: fill;
                }
        }
        & p{
            position: absolute;
            bottom: 1rem;
            left: 5rem;
            color: #901C1C;
        }
        & .bouton{
            position: absolute;
            cursor: pointer;
            &#g{
                left: 4%;
                top: 50%;
                color: #901C1C;
                font-size: 40px;
            }
            &#d{
                left: 90%;
                top: 50%;
                transform: rotate(180deg);
                color: #901C1C;
                font-size: 40px;
            }
        }
        &-close{
            height: 3%;
            width: 3%;
            position: absolute;
            left: 90%;
            top: 8%;
            filter: invert(16%) sepia(50%) saturate(4246%) hue-rotate(350deg) brightness(50%) contrast(89%);;
        }
}