#carousel{
    border: 2px solid greenyellow;
    width: 30rem;
    height: 30rem;
    display: none;
    position: relative;
        &-container{
            border: 2px solid red;
            position: absolute;
            left: 16%;
            top: 8%;
            width: 20rem;
            height: 25rem;
            overflow: hidden;
                & .carousel-img{
                    height: 25rem;
                    width: 20rem;
                }
        }

        & .bouton{
            position: absolute;
            cursor: pointer;
            &#g{
                left: 4%;
                top: 50%;
                color: #901C1C;
                font-size: 40px;
            }
            &#d{
                left: 90%;
                top: 50%;
                transform: rotate(180deg);
                color: #901C1C;
                font-size: 40px;
            }
        }
        &-close{
            height: 3%;
            width: 3%;
            position: absolute;
            left: 90%;
            top: 8%;
            filter: invert(16%) sepia(50%) saturate(4246%) hue-rotate(350deg) brightness(50%) contrast(89%);;
        }
}