//Modal
#contact_modal {
    width: $pourcentHundred;
    z-index: $uniteStandard * 2;
    top: $remNul;
    height: $vhStandard * 261;
    position : $positionA;
    background-color: rgba(0, 0, 0, 0.3);
        .modal {
            @include DF_JCSB_AIC;
            box-shadow: 3px -4px 10px gray;
            top: $remStandard * 2.5;
            left: $pourcentStandard * 30;
            position: $positionF;
            border-radius: $pxStandard * 5;
            background-color: $bgc_modal_color;
            width: $pourcentStandard * 40;
            height: $vhStandard * 90;
            flex-direction: $column;
            margin: auto;
                #header-contact {
                    justify-content: space-between;
                    width: $pourcentHundred;
                    height: $vhStandard * 15;
                        h2 {
                            margin-right: $remStandard;
                            font-size: $pxStandard * 45;
                            font-weight: normal;
                            text-align: $start;
                            margin-top: $pxStandard * -15;
                        };
                        button{
                            background-color: transparent;
                            border: $none;
                            cursor: $pointer;
                            position: $positionR;
                            bottom: $remStandard * 9;
                            left: $pourcentStandard * 93;
                                & img {
                                    position: $positionR;
                                    width: $remStandard * 2;
                                };
                        };
                };
                form {
                    @include DF_FDC;
                    width: $pourcentHundred;
                        div {
                            @include DF_FDC;
                            width: $pourcentHundred;
                            margin-bottom: $pxStandard * 26;
                                label {
                                    color: #312E2E;
                                    font-size: $pxStandard * 33;
                                };
                                input {
                                    width: $pourcentHundred;
                                    height: $pxHundred / 2;
                                    border: $none;
                                    border-radius: $pxStandard * 5;
                                };
                                #message{
                                    width: $pourcentHundred;
                                    height: $vhStandard * 15;
                                };
                        };
                        .contact_button {
                            font-size: $pxHundred / 5;
                            font-weight: normal;
                            color: $light_color;
                            padding: $pxStandard * 11;
                            width: $pxStandard * 170;
                            height: $pxStandard * 70;
                            border: $none;
                            background-color: $primary_color;
                            border-radius: $pxStandard * 5;
                            cursor: $pointer;
                        };
                };
        };
};