// compteur likes bas de page
#compteur-likes_prix{
    @include DF_JCSA;
    position: $positionF;
    top: $pourcentStandard * 93;
    left: $pourcentStandard * 79;
    background-color: $bgc_modal_color;
    width: $pourcentStandard * 20;
    height: $pourcentStandard * 7;
    z-index: $uniteStandard * 2;
        .compteur-likes_prix_bas-de-page{
            @include DF_JCE;
            align-items: $center;
            width: $pourcentStandard * 30;
                & img{
                    height: $pourcentStandard * 30;
                    padding-left: $remStandard * .5;
                };
        };
        .prix{
            @include DF_AIC;
        };
};


