// compteur likes bas de page
#compteur-likes_prix{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 93%;
    left: 79%;
    background-color:  #DB8876;
    width: 20%;
    height: 7%;
    z-index: 2;
}
.compteur-likes_prix_bas-de-page{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
        & img{
            height: 30%;
            padding-left: .5rem
        }
};

