//Header accueil
.header-index{
    @include DF_JCSB_AIC;
        h1{
            font-size: $pxStandard * 30;
            font-weight: normal;
            color: $primary_color;
        };
        .logo{
            height: $pxHundred / 2;
            margin-left: $pxHundred;
            margin-top: $pxHundred / 4;
            margin-bottom: $pxHundred / 4;
        };
};
// Header page photographer
header{
    @include FD_JCSB_AIC;
        h1{
            color: $primary_color;
            margin-right: $pxHundred;
        };
        .logo-header{
            display: $flex;
                .logo{
                    height: $pxHundred / 2;
                    margin-left: $pxHundred;
                    margin-top: $pxHundred / 4;
                    margin-bottom: $pxHundred / 4;
                };
        };
        #header-photographer{
            @include DF_JCSA_AIC;
            background-color: $light_color;
            height: $pxHundred * 3;
            margin: 0 100px 10px!important;
                #header-photographer_identite{
                    h1{
                        color: $secondary_color;
                        font-size: $pxStandard * 45;
                        font-weight: normal;
                        margin: $uniteNul;
                    };
                    h2{
                        color: $primary_color;
                        display: $flex;
                    };
                };
                .div__header-img{
                    .photo-header{
                        height: $pxHundred * 2;
                        width: $pxHundred * 2;
                        border-radius: $remStandard * 7;
                        object-fit: $cover;
                    };
                };
        };

};

