* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  z-index: 1;
  font-size: 16px;
}

@font-face {
  font-family: DM Sans;
  src: url(/assets/font/DM_Sans/DMSans-Regular.ttf);
}

.photographer_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 50px;
}

.photographer_section article {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
  margin: 0;
  font-weight: normal;
}

.photographer_section article h3 {
  margin: 0;
  color: #901C1C;
}

.photographer_section article p {
  margin: 0;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

#contact_modal {
  width: 100%;
}

#contact_modal .modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  margin: auto;
}

#contact_modal .modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#contact_modal .modal header h2 {
  margin-right: 1rem;
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

#contact_modal .modal header img {
  cursor: pointer;
}

#contact_modal .modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contact_modal .modal form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

#contact_modal .modal form div label {
  color: #312E2E;
  font-size: 36px;
  margin-top: 3rem;
}

#contact_modal .modal form div input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#contact_modal .modal form div #message {
  width: 100%;
  height: 40vh;
}

.media_profil {
  width: 94%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media_profil .media {
  width: 25%;
  height: 40vh;
  margin: 3rem;
}

.media_profil .media .description-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media_profil img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.media_profil video {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.media_profil .likes-img {
  width: 6%;
  height: 2vh;
  -webkit-filter: invert(17%) sepia(22%) saturate(6583%) hue-rotate(344deg) brightness(101%) contrast(95%);
          filter: invert(17%) sepia(22%) saturate(6583%) hue-rotate(344deg) brightness(101%) contrast(95%);
}

.media_profil .likes-img:hover {
  -webkit-filter: invert(67%) sepia(10%) saturate(1961%) hue-rotate(322deg) brightness(91%) contrast(88%);
          filter: invert(67%) sepia(10%) saturate(1961%) hue-rotate(322deg) brightness(91%) contrast(88%);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

header h1 {
  color: #D3573C;
  margin-right: 100px;
}

header .logo {
  height: 50px;
  margin-left: 100px;
}

.photographer-header {
  height: 200px;
  width: 200px;
  border-radius: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.photograph-header h1 {
  color: #D3573C;
  font-size: 45px;
  font-weight: normal;
  margin: 0;
}

.photograph-header h2 {
  color: #901C1C;
}

.photograph-header .ville-pays-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#h2-modal {
  text-align: start !important;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.compteur-likes_prix {
  border: 2px solid hotpink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 92.5%;
  left: 79%;
  background-color: #DB8876;
  width: 20%;
  height: 7%;
}

.compteur-likes_prix_bas-de-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid firebrick;
  width: 30%;
}

.compteur-likes_prix_bas-de-page img {
  border: 2px solid lawngreen;
  height: 33%;
}

.compteur-likes_prix .prix {
  border: 2px solid darkorange;
}

#carousel-div {
  border: 2px solid gray;
  width: 62%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#carousel-div #carrousel {
  width: 800px;
  height: 800px;
  position: relative;
  border: 2px solid lawngreen;
  overflow: hidden;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#carousel-div #carrousel-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 3% !important;
}

#carousel-div #carrousel-close-contact {
  width: 5% !important;
  height: 5vh;
}

#carousel-div #carrousel#container {
  width: 800px;
  height: 400px;
}

#carousel-div #carrousel .bouton {
  top: 400px;
  position: absolute;
  cursor: pointer;
}

#carousel-div #carrousel .bouton#g {
  left: 0;
  color: red;
  font-size: 70px;
}

#carousel-div #carrousel .bouton#d {
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: red;
  font-size: 70px;
}

.photo {
  width: 800px;
  height: 800px;
  margin: 0;
  display: inline-block;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */