/* #contact_modal {
    display: none;
} */

/* .photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
} */

/* .contact_button {
    font-size: 20px;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
} */

/* .modal {
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
} */

/* .modal header {
    justify-content: space-between;
    width: 100%;
} */

/* .modal header img {
    cursor: pointer;
} */

/* .modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
} */

/* form {
    align-items: flex-start;
} */

/* form label {
    color: #312E2E;
    font-size: 36px;
} */

/* form div {

    align-items: self-start;

} */

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}